html, body{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100dvh;
    background-color:#F2D5B3;
}

header {
    background-color: red;
    height: 110px;
    width: 100%;
    padding-top: 20px;
}

.logo {
    width: 100px;
}

.buscar {
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    height: 15px;
    width: 140px;
    margin-left: 10px;

}

.menu-burguer {
    background-color: transparent;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52362B;
    width: 220px;
    position: absolute;
    top: 50px;
    left: 100px;
    height: 40px;
    border-radius: 100px;
}

.link-menu {
    display: flex;
    background-color: #52362B;
    flex-direction: column;
    position: absolute;
    top: 10px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
     /* deixa mais espessa; use 300 para mais fina */
}

* {
    outline: 1px solid blue;
}
