html, body{
    margin: 0;
    padding: 0;
}

/* * {
    outline: 1px solid blue;
} */


body {
    display: flex;
    height: 100dvh;
    background-color:#F2D5B3;
}

header {
    display: flex;
    align-items: center;
    background-color: #F2D5B3;
    height: 100px;
    width: 100dvh;
    padding-top: 20px;
    box-shadow: inset 0 15px 0 0 #52362B;
}

.logo {
    width: 100px;
    position: absolute;
    top: 15px;
}

.buscar {
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    height: 15px;
    width: 150px;
    margin-left: 10px;

}

.menu-burguer {
    background-color: transparent;
    border:none;
    position: absolute;
    right: 5px;
    top: 7px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52362B;
    width: 220px;
    position: absolute;
    top: 45px;
    left: 100px;
    height: 40px;
    border-radius: 100px;
}

.link-menu {
    display: none;
    background-color: #52362B;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    justify-content: left;
    border-radius: 10px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 30px;
    
}

