html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* * {
    outline: 1px solid blue;
} */


body {
    display: flex;
    height: 100dvh;
    background-color:#F2D5B3;
    flex-direction: column;

}

@font-face {
    font-family: "InkNutAntiqua";
    src: url(./fonts/InknutAntiqua-Regular.woff2) format("woff2"),
    url(./fonts/InknutAntiqua-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    background-color: #F2D5B3;
    height: 100px;
    width: 100dvh;
    padding-top: 20px;
    box-shadow: inset 0 15px 0 0 #52362B;
}

.logo {
    width: 100px;
    position: absolute;
    top: 15px;
}

.buscar {
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    height: 15px;
    width: 150px;
    margin-left: 10px;

}

.menu-burguer {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 7px;
    transition: 0.5s;
}

/* animacao em x do botão de menu */
.menu-burguer svg path {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.menu-burguer.active svg path:nth-child(1) {
    transform: translateY(4px) rotate(40deg);
}

.menu-burguer.active svg path:nth-child(2) {
    opacity: 0;
}

.menu-burguer.active svg path:nth-child(3) {
    transform: translateY(-4px) rotate(-40deg);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52362B;
    width: 220px;
    position: absolute;
    top: 45px;
    left: 100px;
    height: 40px;
    border-radius: 100px;
}

/* menu desativado */
.link-menu.desativado {
    animation: transicao2 0.2s ease-in-out forwards;

}

/* menu aberto */
.link-menu {
    display: flex;
    background-color: #52362B;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 40px;
    z-index: 1000;
    justify-content: left;
    border-radius: 10px;
    border: #F2D5B3 3px solid;
    animation: transicao 0.2s ease-in-out;
}

@keyframes transicao {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transicao2 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        display: none;
    }
}


li {
    list-style: none;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 30px;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: underline;
}

.jogos {
    position: absolute;
    right: 10px;
    top: 44px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #52362B;
    transition: 0.5s;
}



.jogos:hover {
    transform: scale(1.1);
}

#controle-video-game {
    position: absolute;
    right: 7.2px;
    top: 7px;
    width: 25px;
    margin: none;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo {
    width: 100%;
}

.boas-vindas {
    position: absolute;
    top: 150px;
    font-family: "Moul", serif;
    font-weight: 700;
    font-size: 37px;
    color: #FAF2E1;
    text-align: center;
    text-shadow:
    -2px -2px 2px #52362B,
    2px 2px 2px #52362B,
    -2px -2px 2px #52362B,
    2px 2px 2px #52362B;
}

.boas-vindas::after {
    content: '`';
    position: absolute;
    top: -3px;
    right: 50px;
    font-size: 35px; 
    color: #FAF2E1;
    transform: rotate(5deg); 
}

.b-cardapio {
    position: absolute;
    top: 310px;
    padding: 5px 15px;
    font-family: "InkNutAntiqua", serif;
    color: #ffffff;
    background-color: #D95F3A;
    border: none;
    border-radius: 5px;
}

.b-cardapio:hover {
    box-shadow: 0 0 10px #D95F3A;
}

.titulo-carrossel {
    position: absolute;
    top: 370px;
    font-family: "InkNutAntiqua", serif;
    color: #1F1106;
    font-weight: 300;
}

.carrossel {
    display: none;
    position: absolute;
    top: 400px;
    width: 90%;
    height: 200px;
    background-color: #F2D5B3;
    border-radius: 10px;
    margin-top: 50px;
    border: #D3B38C 3px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
}

@keyframes direita {
    from {
        left: 100%;
        opacity: 0;
    }
    to {
        left: 4%;
        opacity: 1;
    }
}

@keyframes esquerda {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 4%;
        opacity: 1;
    }
}

.carrossel.ativado {
    display: block;
    animation: direita 0.5s ease-in forwards;
}

#voltar, #avancar {
    position: absolute;
    top: 101%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    color: #52362B; 
    font-size: x-large;
    font-family: monospace;
    z-index: 4;
    border-radius: 50%;
    transition: 0.5s;
    background-color: transparent;
}

#voltar {
    left: 30px;
}
#voltar:hover{
    text-shadow: 0 0 10px #52362B;
}

#avancar {
    right: 30px;
}
#avancar:hover{
    text-shadow: 0 0 50px #52362B;
}

.comida-carrossel {
    position: absolute;
    top: 50px;
    margin-left: 20px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: #D3B38C 3px solid;
}

.info-comida {
    position: absolute;
    top: 10px;
    left: 200px;
    font-family: "InkNutAntiqua", serif;
    color: #1F1106;
    font-weight: 500;
}

#batata, #sla {
    position: absolute;
    top: 20px;
}

#preco-batata, #preco-sla {
    position: absolute;
    top: 50px;
}

.ver {
    position: absolute;
    bottom: 50px;
    left: 200px;
    padding: 1px 40px;
    font-family: "InkNutAntiqua", serif;
    color: #ffffff;
    background-color: #D95F3A;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.ver:hover {
    box-shadow: 0 0 10px #D95F3A;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 750px;
    width: 80%;
}

.titulo-sobre-nos {
    font-family: "InkNutAntiqua", serif;
    color: #1F1106;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 67px;
    line-height: 1.50;
}

.subtitulo-sobre-nos {
    font-family: "InkNutAntiqua", serif;
    color: #1F1106;
    font-weight: 500;
    margin-bottom: 10px;
}

.texto-sobre-nos {
    font-family: "InkNutAntiqua", serif;
    color: #1F1106;
    font-weight: 300;
    line-height: 1.50;
}

.topicos {
    width: 375px;
    height: 300px;
    margin-bottom: 10px;
}

#topico1 {
    box-shadow: inset 0 -7px 0 0 #52362B;
}

#primeiros-dias {
    margin-left: 20px;
}

#paragrafo1{
    margin-left: 20px;
}

#logo-sobre-nos {
    width: 150px;
    position: absolute;
    top: 260px;
    left: 115px;
}

#topico2 {
    box-shadow: inset 0 7px 0 0 #D95F3A;
    margin-top: 150px;
}

#meses-depois, #paragrafo2 {
    margin-left: 20px;
}





