<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <a href="#inicio"><img class="logo" src="../static/images/general/logoNOBG.png" alt="logo"></a>

        <nav class="nav-bar">
            <input class="buscar" type="text" placeholder="Buscar...">

            <div id="menu" class="link-menu desativado">
                <ul>
                    <li><a class="a-menu-burguer" href="#inicio">Início</a></li>
                    <li><a class="a-menu-burguer" href="#sobre-nos">Sobre Nós</a></li>
                    <li><a class="a-menu-burguer" href="#">Cardápio</a></li>
                    <li><a class="a-menu-burguer" href="#contato">Contato</a></li>
                    <li><a class="a-menu-burguer" href="https://jogarlinhadotempo.onrender.com">Conta</a></li>
                </ul>
            </div>

            <!-- menu do desktop -->
            <div id="menu-desktop" class="link-menu-desktop">
                <ul class="lista-link-desktop">
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#inicio">Início</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#sobre-nos">Sobre Nós</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#">Cardápio</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#contato">Contato</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#">Conta</a></li>
                </ul>
            </div>

            <button class="menu-burguer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="white" d="M3 6h18v2H3z" />
                    <path fill="white" d="M3 11h18v2H3z" />
                    <path fill="white" d="M3 16h18v2H3z" />
                </svg>
            </button>
        </nav>

        <div class="jogos">
            <a id="link-jogos" href="https://jogarlinhadotempo.onrender.com"><img id="controle-video-game"
                    src="../static/images/icons/controle-de-video-game.png" alt="icon-jogos"></a>
        </div>
    </header>

    <main>
        <img id="inicio" class="fundo" src="../static/images/general/fundo.png" alt="background">
        <h1 class="boas-vindas">Bem vindo a<br>Linha do Tempo</h1>

        <button class="b-cardapio">Cardápio</button>

        <!-- carrossel -->

        <h2 class="titulo-carrossel">Pratos da Casa</h2>

        <div class="carrossel">
            <div class="faixa" id="faixa">
                <!-- clones -->
                <div class="cartao cartao1">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento1">

                    <div class="infos-pratos">
                        <p class="nome-prato">X-Tudo<br><span class="preco-prato">R$29,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao2">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Coxinha<br><span class="preco-prato">R$39,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao3">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Sanduiche de Frango<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao4">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Sanduiche de Presunto<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao5">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Cachorro-Quente<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao6">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Pizza Brotinho<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao7">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Batata Frita<br><span class="preco-prato">R$49,99</span>
                        </p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao8">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Chocolate<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao9">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Leite<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao10">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Milho<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div class="cartao cartao11">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Pudim<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
            </div>

            <div class="botoes">
                <button class="botoes-carrossel" id="voltar">&#10094;</button>
                <button class="botoes-carrossel" id="avancar">&#10095;</button>
            </div>

            <div class="indicadores" id="indicadores">
                <div class="indicador ativo" data-slide="0"></div>
                <div class="indicador" data-slide="1"></div>
                <div class="indicador" data-slide="2"></div>
                <div class="indicador" data-slide="3"></div>
                <div class="indicador" data-slide="4"></div>
                <div class="indicador" data-slide="5"></div>
                <div class="indicador" data-slide="6"></div>
                <div class="indicador" data-slide="7"></div>
                <div class="indicador" data-slide="8"></div>
                <div class="indicador" data-slide="9"></div>
                <div class="indicador" data-slide="10"></div>
            </div>
        </div>
    </main>

    <section class="sobre-nos">
        <h2 class="titulo-sobre-nos">Nossa Linha do Tempo</h2>
        <div class="topicos" id="topico1">

            <h3 class="subtitulo-sobre-nos" id="primeiros-dias">Primeiros Dias</h3>
            <p class="texto-sobre-nos" id="paragrafo1">Em um encontro de amigos entre os sócios,
                foi colocada em questão a possibilidade de
                formar uma empresa.</p>

            <img src="../static/images/general/logoNOBG.png" alt="logo" id="logo-sobre-nos">

            <div class="topicos" id="topico2">

                <h3 class="subtitulo-sobre-nos direita" id="meses-depois">Alguns Meses Mais Tarde
                </h3>
                <p class="texto-sobre-nos direita" id="paragrafo2">Após decidirem fazer um negócio temático, várias
                    opções foram
                    discutidas em uma longa conversa e, ao final, foi determinado que fariam uma
                    lanchonete estilo retrô.</p>

                <img src="../static/images/general/iconsnbg.png" alt="personagens" id="personagens-sobre-nos">
            </div>

            <div class="topicos" id="topico3">

                <h3 class="subtitulo-sobre-nos" id="localizacao">A Localização</h3>
                <p class="texto-sobre-nos" id="paragrafo3">A Linha do Tempo ficará localizada na
                    cidade de Rosário, MA, e oferecerá comidas e bebidas num ambiente retrô.</p>

                <a href="https://maps.app.goo.gl/sgcwQ4GqqLuuiNNc7" target="_blank"><img
                        src="../static/images/general/local.png" alt="localizacao" id="localizacao-sobre-nos"></a>
            </div>

            <div class="topicos" id="topico4">

                <h3 class="subtitulo-sobre-nos direita" id="nosso-espaco">O Nosso Espaço</h3>
                <p class="texto-sobre-nos direita" id="paragrafo4">Nosso espaço será decorado no
                    intuito de fazer os clientes
                    ingressarem em suas melhores lembranças do passado, incluindo música de fundo.
                    Além disso terá espaço Kids para entreter as crianças pequenas.
                </p>

                <img src="../static/images/general/fundo.png" alt="espaco" id="nosso-espaco-sobre-nos">
            </div>
    </section>

    <section class="contato">
        <h2 class="fale-conosco">Fale Conosco</h2>
        <p class="texto-whatsapp">Pelo WhatsApp (Pedidos e Dúvidas)</p>
        <a class="link-whatsapp" href="https://wa.me/5598988844153" target="_blank"><img
                src="../static/images/icons/whatsapp-circle.png" alt="whatsapp-icon" id="whatsapp-icon">(98)9
            8884-4153</a>

        <h2 class="siga-nos">Siga a Linha do Tempo</h2>
        <div class="redes-container">
            <a class="redes-links insta-link"
                href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank"><img src="../static/images/icons/instagram-circle.png" alt="instagram-icon"
                    class="redes-icon"></a>
            <a class="redes-links face-link" href="#" target="_blank"><img src="../static/images/icons/facebook.png"
                    alt="facebook-icon" class="redes-icon"></a>
            <a class="redes-links tiktok-link" href="#" target="_blank"><img
                    src="../static/images/icons/tiktok-circle.png" alt="tiktok-icon" class="redes-icon"></a>
        </div>
    </section>

    <section class="rodape">
        <h2 class="contatos-footer texto-footer">Contatos</h2>
        <div class="icons-footer">
            <a class="redes-links-footer insta-link-footer"
                href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank"><img src="../static/images/icons/instagram.png" alt="instagram-icon"
                    class="redes-icon-footer"></a>
            <a class="redes-links-footer face-link-footer" href="#" target="_blank"><img
                    src="../static/images/icons/facebook1.png" alt="facebook-icon" class="redes-icon-footer"></a>
            <a class="redes-links-footer tiktok-link-footer" href="#" target="_blank"><img
                    src="../static/images/icons/tik-tok.png" alt="tiktok-icon" class="redes-icon-footer"></a>
            <a class="whatsapp-link-footer" href="https://wa.me/5598988844153" target="_blank"><img
                    src="../static/images/icons/whatsapp.png" alt="whatsapp-icon" class="redes-icon-footer"></a>
        </div>

        <h2 class="mapa-site texto-footer">Linha do Tempo</h2>
        <ul class="mapa-site-lista">
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#inicio">Início</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#sobre-nos">Sobre Nós</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#">Cardápio</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#contato">Contato</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#contato">Conta</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="https://jogarlinhadotempo.onrender.com">Jogue</a>
            </li>
        </ul>

        <div class="equipe">
            <h2 class="texto-footer">Equipe de T.I</h2>
            <ul class="nomes-ti">
                <li class="texto-footer">João Dorneles</li>
                <li class="texto-footer">Wendel Rocha</li>
                <li class="texto-footer">Letícia Soeiro</li>
                <li class="texto-footer">Carolina Coelho</li>
                <li class="texto-footer">Sara Sousa</li>
                <li class="texto-footer">Robson Luis</li>
            </ul>

            <h2 class="texto-footer">Equipe de Administração</h2>
            <ul class="nomes-adm">
                <li class="texto-footer">Abigail Zaíra</li>
                <li class="texto-footer">Elinaldo Rychard</li>
                <li class="texto-footer">Filipy Octávio</li>
                <li class="texto-footer">Jennifer Ramily</li>
                <li class="texto-footer">Kauê Santos</li>
                <li class="texto-footer">Lara Sophia</li>
                <li class="texto-footer">Mariana Melo</li>
                <li class="texto-footer">Nícolas Gabriel</li>
                <li class="texto-footer">Paulo Gabriel</li>
                <li class="texto-footer">Rosa Lidia</li>
                <li class="texto-footer">William Wallace</li>
            </ul>
        </div>

        <img class="logo-rodape" src="../static/images/general/logoNOBG.png" alt="logo-rodape">
    </section>

    <section class="rodape-desktop mapa-do-site">
        <div class="equipe-ti">
            <h2 class="texto-footer-desktop-1 nome-equipe-ti">Equipe de T.I</h2>
            <ul class="nomes-ti">
                <li class="texto-footer-desktop-1">João Dorneles</li>
                <li class="texto-footer-desktop-1">Wendel Rocha</li>
                <li class="texto-footer-desktop-1">Letícia Soeiro</li>
                <li class="texto-footer-desktop-1">Carolina Coelho</li>
                <li class="texto-footer-desktop-1">Sara Sousa</li>
                <li class="texto-footer-desktop-1">Robson Luis</li>
            </ul>

            <h2 class="mapa-site texto-footer">Linha do Tempo</h2>
            <ul class="mapa-site-lista">
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#inicio">Início</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#sobre-nos">Sobre Nós</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#">Cardápio</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#contato">Contato</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#contato">Conta</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site"
                        href="https://jogarlinhadotempo.onrender.com">Jogue</a></li>
            </ul>
        </div>


        <div class="div-central">
            <div class="contatos">
                <h2 class="contatos-footer texto-footer nome-contatos-desktop">Contatos</h2>
                <div class="icons-footer">
                    <a class="redes-links-footer insta-link-footer"
                        href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        target="_blank"><img src="../static/images/icons/instagram.png" alt="instagram-icon"
                            class="redes-icon-footer"></a>
                    <a class="redes-links-footer face-link-footer" href="#" target="_blank"><img
                            src="../static/images/icons/facebook1.png" alt="facebook-icon"
                            class="redes-icon-footer"></a>
                    <a class="redes-links-footer tiktok-link-footer" href="#" target="_blank"><img
                            src="../static/images/icons/tik-tok.png" alt="tiktok-icon" class="redes-icon-footer"></a>
                    <a class="whatsapp-link-footer" href="https://wa.me/5598988844153" target="_blank"><img
                            src="../static/images/icons/whatsapp.png" alt="whatsapp-icon" class="redes-icon-footer"></a>
                </div>
            </div>

            <img class="logo-rodape-desktop" src="../static/images/general/logoNOBG.png" alt="logo-rodape">
        </div>
        <div class="equipe-adm">
            <h2 class="texto-footer-desktop-2 nome-equipe-adm">Equipe de Administração</h2>
            <ul class="nomes-adm">
                <li class="texto-footer-desktop-2">Abigail Zaíra</li>
                <li class="texto-footer-desktop-2">Elinaldo Rychard</li>
                <li class="texto-footer-desktop-2">Filipy Octávio</li>
                <li class="texto-footer-desktop-2">Jennifer Ramily</li>
                <li class="texto-footer-desktop-2">Kauê Santos</li>
                <li class="texto-footer-desktop-2">Lara Sophia</li>
                <li class="texto-footer-desktop-2">Mariana Melo</li>
                <li class="texto-footer-desktop-2">Nícolas Gabriel</li>
                <li class="texto-footer-desktop-2">Paulo Gabriel</li>
                <li class="texto-footer-desktop-2">Rosa Lidia</li>
                <li class="texto-footer-desktop-2">William Wallace</li>
            </ul>
        </div>



    </section>

    <footer>
        <div class="container-footer">
            <p class="texto-footer" id="copyright">&copy; 2025 Linha do Tempo. Todos os direitos
                reservados.</p>
        </div>
    </footer>

    <!-- Vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script>
        // menu burger (mantém igual)
        const menuBurguer = document.querySelector('.menu-burguer');
        const menu = document.getElementById('menu');
        if (menuBurguer) menuBurguer.addEventListener('click', function () {
            menu.classList.toggle('desativado');
            this.classList.toggle('active');
        });

        //carrossel (feito com auxilio de I.A)
        const faixa = document.getElementById('faixa');
        const avancar = document.getElementById('avancar');
        const voltar = document.getElementById('voltar');
        const indicadores = document.querySelectorAll('.indicador');
        const total = indicadores.length;

        let indice = 0;

        function pegarLargura() {
            const carrossel = document.querySelector('.carrossel');
            return carrossel.clientWidth;
        }

        function atualizar(animate = true) {
            const largura = pegarLargura();
            if (!animate) {

                const antiga = faixa.style.transition;
                faixa.style.transition = 'none';
                faixa.style.transform = `translateX(-${indice * largura}px)`;

                requestAnimationFrame(() => {
                    faixa.style.transition = antiga || 'transform 0.5s ease';
                });
            } else {
                faixa.style.transform = `translateX(-${indice * largura}px)`;
            }

            indicadores.forEach((indicador, i) => {
                indicador.classList.toggle('ativo', i === indice);
            });
        }

        avancar.addEventListener("click", () => {
            indice = (indice + 1) % total;
            atualizar(true);
        });


        voltar.addEventListener("click", () => {
            indice = (indice - 1 + total) % total;
            atualizar(true);
        });


        indicadores.forEach((indicador) => {
            indicador.addEventListener('click', () => {
                indice = parseInt(indicador.dataset.slide);
                atualizar(true);
            });
        });

        window.addEventListener('resize', () => {
            atualizar(false);
        });

        atualizar(false);

        // autoplay simples
        setInterval(() => {
            indice = (indice + 1) % total;
            atualizar(true);
        }, 4000); // troca aqui o tempo (ms)

    </script>

    
</body>

</html>