<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/general/logoNOBG.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <a href="#inicio"><img class="logo" src="../static/images/general/logoNOBG.png" alt="logo"></a>

        <nav class="nav-bar">
            <input class="buscar" type="text" placeholder="Buscar...">

            <div id="menu" class="link-menu desativado">
                <ul>
                    <li><a class="a-menu-burguer" href="#inicio">Início</a></li>
                    <li><a class="a-menu-burguer" href="#sobre-nos">Sobre Nós</a></li>
                    <li><a class="a-menu-burguer" href="#">Cardápio</a></li>
                    <li><a class="a-menu-burguer" href="#contato">Contato</a></li>
                    <li><a class="a-menu-burguer" href="https://usercenterlt.onrender.com/conta">Conta</a></li>
                </ul>
            </div>

            <!-- menu do desktop -->
            <div id="menu-desktop" class="link-menu-desktop">
                <ul class="lista-link-desktop">
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#inicio">Início</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#sobre-nos">Sobre Nós</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#">Cardápio</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="#contatos">Contato</a></li>
                    <li class="li-menu-desktop"><a class="a-menu-desktop" href="https://usercenterlt.onrender.com/conta">Conta</a></li>
                </ul>
            </div>

            <button class="menu-burguer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="white" d="M3 6h18v2H3z" />
                    <path fill="white" d="M3 11h18v2H3z" />
                    <path fill="white" d="M3 16h18v2H3z" />
                </svg>
            </button>
        </nav>

        <div class="jogos">
            <a id="link-jogos" href="https://usercenterlt.onrender.com/hubjogos"><img id="controle-video-game"
                    src="../static/images/icons/controle-de-video-game.png" alt="icon-jogos"></a>
        </div>
    </header>

    <main>
        <img id="inicio" class="fundo" src="../static/images/general/fundo.png" alt="background">
        <h1 class="boas-vindas">Bem vindo a<br>Linha do Tempo</h1>

        <button class="b-cardapio">Cardápio</button>

        <!-- carrossel -->

        <h2 class="titulo-carrossel">Pratos da Casa</h2>

        <div class="carrossel">
            <div class="faixa" id="faixa">
                <!-- clones -->
                <div id="x-tudo" class="cartao cartao1">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento1">

                    <div class="infos-pratos">
                        <p class="nome-prato">X-Tudo<br><span class="preco-prato">R$29,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="coxinha" class="cartao cartao2">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento2">

                    <div class="infos-pratos">
                        <p class="nome-prato">Coxinha<br><span class="preco-prato">R$39,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="sanduiche-frango" class="cartao cartao3">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento3">

                    <div class="infos-pratos">
                        <p class="nome-prato">Sanduiche de Frango<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="sanduiche-presunto" class="cartao cartao4">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento4">

                    <div class="infos-pratos">
                        <p class="nome-prato">Sanduiche de Presunto<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="cachorro-quente" class="cartao cartao5">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento5">

                    <div class="infos-pratos">
                        <p class="nome-prato">Cachorro-Quente<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="pizza-brotinho" class="cartao cartao6">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento6">

                    <div class="infos-pratos">
                        <p class="nome-prato">Pizza Brotinho<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="batata-frita" class="cartao cartao7">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento7">

                    <div class="infos-pratos">
                        <p class="nome-prato">Batata Frita<br><span class="preco-prato">R$49,99</span>
                        </p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="bolo-chocolate" class="cartao cartao8">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento8">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Chocolate<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="bolo-leite" class="cartao cartao9">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento9">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Leite<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="bolo-milho" class="cartao cartao10">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento10">

                    <div class="infos-pratos">
                        <p class="nome-prato">Bolo de Milho<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
                <div id="pudim" class="cartao cartao11">
                    <img class="img-carrossel" src="../static/images/general/image-not-found.jpeg" alt="alimento11">

                    <div class="infos-pratos">
                        <p class="nome-prato">Pudim<br><span class="preco-prato">R$49,99</span></p>

                        <button class="botao-ver">Ver</button>
                    </div>
                </div>
            </div>

            <div class="botoes">
                <button class="botoes-carrossel" id="voltar">&#10094;</button>
                <button class="botoes-carrossel" id="avancar">&#10095;</button>
            </div>

            <div class="indicadores" id="indicadores">
                <div class="indicador ativo" data-slide="0"></div>
                <div class="indicador" data-slide="1"></div>
                <div class="indicador" data-slide="2"></div>
                <div class="indicador" data-slide="3"></div>
                <div class="indicador" data-slide="4"></div>
                <div class="indicador" data-slide="5"></div>
                <div class="indicador" data-slide="6"></div>
                <div class="indicador" data-slide="7"></div>
                <div class="indicador" data-slide="8"></div>
                <div class="indicador" data-slide="9"></div>
                <div class="indicador" data-slide="10"></div>
            </div>
        </div>
    </main>

    <section id="sobre-nos" class="sobre-nos">
        <h2 class="titulo-sobre-nos">Nossa Linha do Tempo</h2>
        <div class="topicos" id="topico1">

            <h3 class="subtitulo-sobre-nos" id="primeiros-dias">Primeiros Dias</h3>
            <p class="texto-sobre-nos" id="paragrafo1">Em um encontro de amigos entre os sócios,
                foi colocada em questão a possibilidade de
                formar uma empresa.</p>

            <img src="../static/images/general/logoNOBG.png" alt="logo" id="logo-sobre-nos">

            <div class="topicos" id="topico2">

                <h3 class="subtitulo-sobre-nos direita" id="meses-depois">Alguns Meses Mais Tarde
                </h3>
                <p class="texto-sobre-nos direita" id="paragrafo2">Após decidirem fazer um negócio temático, várias
                    opções foram
                    discutidas em uma longa conversa e, ao final, foi determinado que fariam uma
                    lanchonete estilo retrô.</p>

                <img src="../static/images/general/iconsnbg.png" alt="personagens" id="personagens-sobre-nos">
            </div>

            <div class="topicos" id="topico3">

                <h3 class="subtitulo-sobre-nos" id="localizacao">A Localização</h3>
                <p class="texto-sobre-nos" id="paragrafo3">A Linha do Tempo ficará localizada na
                    cidade de Rosário, MA, e oferecerá comidas e bebidas num ambiente retrô.</p>

                <a href="https://maps.app.goo.gl/sgcwQ4GqqLuuiNNc7" target="_blank"><img
                        src="../static/images/general/local.png" alt="localizacao" id="localizacao-sobre-nos"></a>
            </div>

            <div class="topicos" id="topico4">

                <h3 class="subtitulo-sobre-nos direita" id="nosso-espaco">O Nosso Espaço</h3>
                <p class="texto-sobre-nos direita" id="paragrafo4">Nosso espaço será decorado no
                    intuito de fazer os clientes
                    ingressarem em suas melhores lembranças do passado, incluindo música de fundo.
                    Além disso terá espaço Kids para entreter as crianças pequenas.
                </p>

                <img src="../static/images/general/fundo.png" alt="espaco" id="nosso-espaco-sobre-nos">
            </div>
    </section>

    <section id="contatos" class="contato">
        <h2 class="fale-conosco">Fale Conosco</h2>
        <p id="whatsapp" class="texto-whatsapp">Pelo WhatsApp (Pedidos e Dúvidas)</p>
        <a class="link-whatsapp" href="https://wa.me/5598988844153" target="_blank"><img
                src="../static/images/icons/whatsapp-circle.png" alt="whatsapp-icon" id="whatsapp-icon">(98)9
            8884-4153</a>

        <h2 class="siga-nos">Siga a Linha do Tempo</h2>
        <div id="redes-sociais" class="redes-container">
            <a id="instagram" class="redes-links insta-link"
                href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank"><img src="../static/images/icons/instagram-circle.png" alt="instagram-icon"
                    class="redes-icon"></a>
        </div>
    </section> 

    <section class="rodape">
        <h2 class="contatos-footer texto-footer">Contatos</h2>
        <div class="icons-footer">
            <a class="redes-links-footer insta-link-footer"
                href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank"><img src="../static/images/icons/instagram.png" alt="instagram-icon"
                    class="redes-icon-footer"></a>
            <a class="whatsapp-link-footer" href="https://wa.me/5598988844153" target="_blank"><img
                    src="../static/images/icons/whatsapp.png" alt="whatsapp-icon" class="redes-icon-footer"></a>
        </div>

        <h2 class="mapa-site texto-footer">Linha do Tempo</h2>
        <ul class="mapa-site-lista">
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#inicio">Início</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#sobre-nos">Sobre Nós</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#">Cardápio</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="#contatos">Contato</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="https://jogarlinhadotempo.onrender.com/conta">Conta</a></li>
            <li class="li-mapa-footer"><a class="link-mapa-site" href="https://jogarlinhadotempo.onrender.com/hubjogos">Jogue</a>
            </li>
        </ul>

        <div class="equipe">
            <h2 class="texto-footer">Equipe de T.I</h2>
            <ul id="equipe-de-ti" class="nomes-ti">
                <li class="texto-footer">João Dorneles</li>
                <li class="texto-footer">Wendel Rocha</li>
                <li class="texto-footer">Letícia Soeiro</li>
                <li class="texto-footer">Carolina Coelho</li>
                <li class="texto-footer">Sara Sousa</li>
                <li class="texto-footer">Robson Luis</li>
            </ul>

            <h2 class="texto-footer">Equipe de Administração</h2>
            <ul id="equipe-de-adm" class="nomes-adm">
                <li class="texto-footer">Abigail Zaíra</li>
                <li class="texto-footer">Elinaldo Rychard</li>
                <li class="texto-footer">Filipy Octávio</li>
                <li class="texto-footer">Jennifer Ramily</li>
                <li class="texto-footer">Kauê Santos</li>
                <li class="texto-footer">Lara Sophia</li>
                <li class="texto-footer">Mariana Melo</li>
                <li class="texto-footer">Nícolas Gabriel</li>
                <li class="texto-footer">Paulo Gabriel</li>
                <li class="texto-footer">Rosa Lidia</li>
                <li class="texto-footer">William Wallace</li>
                <li class="texto-footer-desktop-2"><a class="link-admin" href="https://usercenterlt.onrender.com/administradores">Painel dos Administradores</a></li>
            </ul>
        </div>
    </section>

    <section class="rodape-desktop mapa-do-site">
        <div class="equipe-ti">
            <h2 class="texto-footer-desktop-1 nome-equipe-ti">Equipe de T.I</h2>
            <ul id="equipe-de-ti" class="nomes-ti">
                <li class="texto-footer-desktop-1">João Dorneles</li>
                <li class="texto-footer-desktop-1">Wendel Rocha</li>
                <li class="texto-footer-desktop-1">Letícia Soeiro</li>
                <li class="texto-footer-desktop-1">Carolina Coelho</li>
                <li class="texto-footer-desktop-1">Sara Sousa</li>
                <li class="texto-footer-desktop-1">Robson Luis</li>
            </ul>

            <h2 class="mapa-site texto-footer">Linha do Tempo</h2>
            <ul class="mapa-site-lista">
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#inicio">Início</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#sobre-nos">Sobre Nós</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#">Cardápio</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="#contatos">Contato</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="https://usercenterlt.onrender.com/conta">Conta</a></li>
                <li class="li-mapa-footer"><a class="link-mapa-site" href="https://usercenterlt.onrender.com/hubjogos">Jogue</a></li>
            </ul>
        </div>

        <div class="div-central">
            <div class="contatos">
                <h2 class="contatos-footer texto-footer nome-contatos-desktop">Contatos</h2>
                <div class="icons-footer">
                    <a class="redes-links-footer insta-link-footer"
                        href="https://www.instagram.com/linhadotempo.if?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        target="_blank"><img src="../static/images/icons/instagram.png" alt="instagram-icon"
                            class="redes-icon-footer"></a>
                    <a class="whatsapp-link-footer" href="https://wa.me/5598988844153" target="_blank"><img
                            src="../static/images/icons/whatsapp.png" alt="whatsapp-icon" class="redes-icon-footer"></a>
                </div>
            </div>

            <img class="logo-rodape-desktop" src="../static/images/general/logoNOBG.png" alt="logo-rodape">
        </div>
        <div class="equipe-adm">
            <h2 class="texto-footer-desktop-2 nome-equipe-adm">Equipe de Administração</h2>
            <ul id="equipe-de-adm" class="nomes-adm">
                <li class="texto-footer-desktop-2">Abigail Zaíra</li>
                <li class="texto-footer-desktop-2">Elinaldo Rychard</li>
                <li class="texto-footer-desktop-2">Filipy Octávio</li>
                <li class="texto-footer-desktop-2">Jennifer Ramily</li>
                <li class="texto-footer-desktop-2">Kauê Santos</li>
                <li class="texto-footer-desktop-2">Lara Sophia</li>
                <li class="texto-footer-desktop-2">Mariana Melo</li>
                <li class="texto-footer-desktop-2">Nícolas Gabriel</li>
                <li class="texto-footer-desktop-2">Paulo Gabriel</li>
                <li class="texto-footer-desktop-2">Rosa Lidia</li>
                <li class="texto-footer-desktop-2">William Wallace</li>
                <li class="texto-footer-desktop-2"><a class="link-admin" href="https://usercenterlt.onrender.com/administradores">Painel dos Administradores</a></li>
            </ul>
        </div>



    </section>

    <footer>
        <div class="container-footer">
            <p class="texto-footer" id="copyright">&copy; 2025 Linha do Tempo. Todos os direitos
                reservados.</p>
        </div>
    </footer>

    <!-- Vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script>
        // menu burger
        const menuBurguer = document.querySelector('.menu-burguer');
        const menu = document.getElementById('menu');
        if (menuBurguer) menuBurguer.addEventListener('click', function () {
            menu.classList.toggle('desativado');
            this.classList.toggle('active');
        });

        //carrossel (feito com auxilio de I.A)
        const faixa = document.getElementById('faixa');
        const avancar = document.getElementById('avancar');
        const voltar = document.getElementById('voltar');
        const indicadores = document.querySelectorAll('.indicador');
        const total = indicadores.length;

        let indice = 0;

        function pegarLargura() {
            const carrossel = document.querySelector('.carrossel');
            return carrossel.clientWidth;
        }

        function atualizar(animate = true) {
            const largura = pegarLargura();
            if (!animate) {

                const antiga = faixa.style.transition;
                faixa.style.transition = 'none';
                faixa.style.transform = `translateX(-${indice * largura}px)`;

                requestAnimationFrame(() => {
                    faixa.style.transition = antiga || 'transform 0.5s ease';
                });
            } else {
                faixa.style.transform = `translateX(-${indice * largura}px)`;
            }

            indicadores.forEach((indicador, i) => {
                indicador.classList.toggle('ativo', i === indice);
            });
        }

        avancar.addEventListener("click", () => {
            indice = (indice + 1) % total;
            atualizar(true);
        });


        voltar.addEventListener("click", () => {
            indice = (indice - 1 + total) % total;
            atualizar(true);
        });


        indicadores.forEach((indicador) => {
            indicador.addEventListener('click', () => {
                indice = parseInt(indicador.dataset.slide);
                atualizar(true);
            });
        });

        window.addEventListener('resize', () => {
            atualizar(false);
        });

        atualizar(false);

        setInterval(() => {
            indice = (indice + 1) % total;
            atualizar(true);
        }, 4000);

    </script>

    <!-- SEARCH - Definitivamente fizemos com auxilio de I.A, e ainda assim deu trabalho :( -->
    <script type="module">
        document.addEventListener('DOMContentLoaded', async () => {
            import('https://cdn.skypack.dev/minisearch@6.1.0').then(({ default: MiniSearch }) => (async () => {
                // =========== CONFIG ===========
                const XML_URL = '/static/sitemap.xml';
                const INPUT_SELECTOR = '.buscar'; // seletor do input
                const SEARCH_CANDIDATES = [
                    '.cartao', '.infos-pratos', '.sobre-nos', '.contato', 'footer', 'header', 'main',
                    '.rodape', '.rodape-desktop', 'h1', 'h2', 'h3', 'p', 'li', 'a'
                ];

                // Inline fallback com o XML
                const INLINE_XML = `<?xml version="1.0" encoding="UTF-8"?>
<annotations>
    <!-- Seções principais -->
    <Annotation>
        <ID>inicio</ID>
        <Title>Início</Title>
        <URL>#inicio</URL>
        Description>Seção inicial da página com boas-vindas e banner</Description>
    Annotation>

    Annotation>
        <ID>sobre-nos</ID>
        <Title>Sobre Nós</Title>
        <URL>#sobre-nos</URL>
        Description>Seção sobre a história e a localização da Linha do Tempo</Description>
        </Annotation>

    <Annotation>
        <ID>contatos</ID>
        <Title>Contato</Title>
        <URL>#contatos</URL>
        <Description>Formas de entrar em contato e redes sociais</Description>
    </Annotation>

    <!-- Pratos -->
    Annotation>
        <ID>x-tudo</ID>
        <Title>X-Tudo</Title>
        <URL>#x-tudo</URL>
        <Description>Prato X-Tudo, preço R$29,99</Description>
    </Annotation>

    <Annotation>
        <ID>coxinha</ID>
        Title>Coxinha</Title>
        <URL>#coxinha</URL>
        <Description>Prato Coxinha, preço R$39,99</Description>
    Annotation>

    Annotation>
        ID>sanduiche-frango</ID>
        <Title>Sanduiche de Frango</Title>
        <URL>#sanduiche-frango</URL>
        Description>Sanduiche de Frango, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>sanduiche-presunto</ID>
        <Title>Sanduiche de Presunto</Title>
        <URL>#sanduiche-presunto</URL>
        <Description>Sanduiche de Presunto, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>cachorro-quente</ID>
        <Title>Cachorro-Quente</Title>
        <URL>#cachorro-quente</URL>
        <Description>Cachorro-Quente, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>pizza-brotinho</ID>
        <Title>Pizza Brotinho</Title>
        <URL>#pizza-brotinho</URL>
        Description>Pizza Brotinho, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        ID>batata-frita</ID>
        <Title>Batata Frita</Title>
        <URL>#batata-frita</URL>
        <Description>Batata Frita, preço R$49,99</Description>
    </Annotation>

    Annotation>
        <ID>bolo-chocolate</ID>
        <Title>Bolo de Chocolate</Title>
        <URL>#bolo-chocolate</URL>
        <Description>Bolo de Chocolate, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>bolo-leite</ID>
        <Title>Bolo de Leite</Title>
        <URL>#bolo-leite</URL>
        <Description>Bolo de Leite, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>bolo-milho</ID>
        <Title>Bolo de Milho</Title>
        <URL>#bolo-milho</URL>
        <Description>Bolo de Milho, preço R$49,99</Description>
    </Annotation>

    <Annotation>
        <ID>pudim</ID>
        <Title>Pudim</Title>
        <URL>#pudim</URL>
        <Description>Pudim, preço R$49,99</Description>
    </Annotation>

    <!-- Timeline / História -->
    <Annotation>
        <ID>primeiros-dias</ID>
        <Title>Primeiros Dias</Title>
        <URL>#primeiros-dias</URL>
        <Description>Primeiros passos dos sócios na criação da empresa</Description>
    </Annotation>

    <Annotation>
        <ID>meses-depois</ID>
        <Title>Alguns Meses Mais Tarde</Title>
        <URL>#meses-depois</URL>
        <Description>Decisões sobre o negócio temático e lanchonete retrô</Description>
    </Annotation>

    <Annotation>
        <ID>localizacao</ID>
        <Title>Localização</Title>
        <URL>#localizacao</URL>
        <Description>Localização da Linha do Tempo, cidade de Rosário, MA</Description>
    </Annotation>

    <Annotation>
        <ID>nosso-espaco</ID>
        <Title>Nosso Espaço</Title>
        <URL>#nosso-espaco</URL>
        Description>Ambiente decorado, música de fundo e espaço kids</Description>
    </Annotation>

    <!-- Contatos / Redes -->
    <Annotation>
        <ID>whatsapp</ID>
        <Title>WhatsApp</Title>
        <URL>#whatsapp</URL>
        <Description>Contato via WhatsApp para pedidos e dúvidas</Description>
    </Annotation>

    <Annotation>
        <ID>instagram</ID>
        <Title>Instagram</Title>
        <URL>#instagram</URL>
        <Description>Perfil do Instagram da Linha do Tempo</Description>
    </Annotation>

    <Annotation>
        <ID>facebook</ID>
        <Title>Facebook</Title>
        <URL>#facebook</URL>
        <Description>Perfil do Facebook da Linha do Tempo</Description>
    </Annotation>

    <Annotation>
        <ID>tiktok</ID>
        <Title>TikTok</Title>
        <URL>#tiktok</URL>
        <Description>Perfil do TikTok da Linha do Tempo</Description>
    </Annotation>
</annotations>`;

                const input = document.querySelector(INPUT_SELECTOR);
                if (!input) return console.warn(`Input ${INPUT_SELECTOR} não encontrado.`);

                // =========== UI: results box ===========
                let resultsBox = document.getElementById('search-results-box');
                if (!resultsBox) {
                    resultsBox = document.createElement('div');
                    resultsBox.id = 'search-results-box';
                    resultsBox.setAttribute('role', 'listbox');
                    resultsBox.setAttribute('aria-hidden', 'true');
                    resultsBox.style.cssText = `
                position: absolute; z-index:99999; background:#fff; border:1px solid #e6e6e6;
                box-shadow:0 8px 30px rgba(0,0,0,.08); max-height:420px; overflow:auto;
                display:none; border-radius:10px; padding:6px; font-family:inherit;
            `;
                    document.body.appendChild(resultsBox);
                }

                function updateResultsWidth() {
                    const w = Math.max(320, input.offsetWidth || 320);
                    resultsBox.style.width = w + 'px';
                }

                function positionResultsBox() {
                    updateResultsWidth();
                    const r = input.getBoundingClientRect();
                    const left = window.scrollX + r.left;
                    const top = window.scrollY + r.bottom + 8;
                    resultsBox.style.left = left + 'px';
                    resultsBox.style.top = top + 'px';
                    const maxRight = window.scrollX + document.documentElement.clientWidth - 8;
                    const boxRight = left + resultsBox.offsetWidth;
                    if (boxRight > maxRight) resultsBox.style.left = (maxRight - resultsBox.offsetWidth) + 'px';
                }

                window.addEventListener('resize', positionResultsBox);
                window.addEventListener('scroll', () => { if (resultsBox.style.display !== 'none') positionResultsBox(); });

                // =========== XML loader ===========
                async function loadAnnotations() {
                    // tenta buscar o XML; se falhar, usa INLINE_XML
                    let text = null;
                    try {
                        const res = await fetch(XML_URL, { cache: 'no-store' });
                        if (res.ok) {
                            text = await res.text();
                        } else {
                            console.warn('Fetch XML retornou status', res.status, '- usando INLINE_XML');
                        }
                    } catch (err) {
                        console.warn('Erro no fetch do XML, usando INLINE_XML:', err);
                    }
                    if (!text) text = INLINE_XML;

                    try {
                        const parser = new DOMParser();
                        const xml = parser.parseFromString(text, 'application/xml');

                        // procura por elementos <Annotation>
                        const anns = Array.from(xml.getElementsByTagName('Annotation'));
                        if (anns.length) {
                            return anns.map(a => {
                                const getText = (tag) => (a.getElementsByTagName(tag)[0]?.textContent || '').trim();
                                const xmlId = getText('ID') || '';
                                const urlRaw = getText('URL') || '';
                                // se não tiver URL, mas tiver ID, cria URL como #id
                                const url = urlRaw || (xmlId ? `#${xmlId}` : '');
                                return {
                                    docId: cryptoRandomId(),     // id interno para o MiniSearch
                                    xmlId: xmlId,               // o ID do XML (útil para rolar por id)
                                    title: getText('Title') || getText('title') || (xmlId || url),
                                    url: url,
                                    description: getText('Description') || ''
                                };
                            });
                        }

                        // fallback: busca por <url> ou <page>
                        const urls = Array.from(xml.getElementsByTagName('url'));
                        if (urls.length) return urls.map(u => {
                            const loc = u.getElementsByTagName('loc')[0]?.textContent || '';
                            const title = u.getElementsByTagName('title')[0]?.textContent || guessTitleFromUrl(loc);
                            const desc = u.getElementsByTagName('description')[0]?.textContent || '';
                            return { docId: cryptoRandomId(), xmlId: '', title: title.trim(), url: loc, description: desc.trim() };
                        });

                        const pages = Array.from(xml.querySelectorAll('page, item'));
                        if (pages.length) return pages.map(p => ({
                            docId: cryptoRandomId(),
                            xmlId: '',
                            title: p.querySelector('title')?.textContent?.trim() || guessTitleFromUrl(XML_URL),
                            url: p.querySelector('loc, link, url')?.textContent?.trim() || XML_URL,
                            description: p.querySelector('description')?.textContent?.trim() || ''
                        }));

                        return [];
                    } catch (err) {
                        console.warn('Erro ao parsear XML:', err);
                        return [];
                    }
                }

                function guessTitleFromUrl(url) {
                    try {
                        const u = new URL(url, location.href);
                        const seg = decodeURIComponent(u.pathname.replace(/\/$/, '').split('/').pop() || u.hostname);
                        return seg.replace(/[-_]/g, ' ') || url;
                    } catch (e) { return url; }
                }
                function cryptoRandomId() { return 'i' + Math.random().toString(36).slice(2, 9); }

                const rawItems = await loadAnnotations();
                if (!rawItems.length) console.warn('Nenhum item carregado do XML.');

                // dedupe e normalização
                const seen = new Map();
                rawItems.forEach(it => {
                    const key = (it.url || '') + '::' + (it.title || '');
                    if (!seen.has(key)) seen.set(key, { ...it, title: it.title || it.url });
                });
                const items = Array.from(seen.values());

                // =========== MiniSearch ===========
                const mini = new MiniSearch({
                    fields: ['title', 'description'],
                    storeFields: ['title', 'url', 'description', 'xmlId'],
                    searchOptions: { prefix: true }
                });
                mini.addAll(items.map((it, i) => ({
                    id: it.docId || i,
                    title: it.title || '',
                    description: it.description || '',
                    url: it.url || '',
                    xmlId: it.xmlId || ''
                })));

                // =========== helpers ===========
                const normalize = s => (s || '').normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase();

                // tenta localizar o elemento na página correspondente ao resultado:
                // 1) se o item tiver xmlId e houver element com esse id -> retorna esse elemento
                // 2) se url tiver hash -> seleciona pelo hash
                // 3) procura por texto que combine com o título nas SEARCH_CANDIDATES
                // 4) procura por <a> que contenha href apontando para o hash
                function findElementForItem(it) {
                    try {
                        if (it.xmlId) {
                            const byId = document.getElementById(it.xmlId);
                            if (byId) return byId;
                        }
                        if (it.url) {
                            try {
                                // se url for tipo "#algo" => seleciona
                                if (it.url.startsWith('#')) {
                                    const el = document.querySelector(it.url);
                                    if (el) return el;
                                } else {
                                    const u = new URL(it.url, location.href);
                                    if (u.hash) {
                                        const elByHash = document.querySelector(u.hash);
                                        if (elByHash) return elByHash;
                                    }
                                }
                            } catch (e) { /* ignore */ }
                        }
                    } catch (e) { /* ignore */ }

                    const textNorm = normalize(it.title || it.description || '');
                    if (!textNorm) return null;

                    const candidates = Array.from(document.querySelectorAll(SEARCH_CANDIDATES.join(',')))
                        .filter(el => el.innerText && normalize(el.innerText).includes(textNorm));

                    if (candidates.length) {
                        let bestMatch = candidates[0];
                        let maxScore = 0;
                        candidates.forEach(el => {
                            const elText = normalize(el.innerText);
                            const score = textNorm.split(/\s+/).filter(w => w && elText.includes(w)).length;
                            if (score > maxScore) { maxScore = score; bestMatch = el; }
                        });
                        return bestMatch;
                    }

                    const anchors = Array.from(document.querySelectorAll('a'));
                    for (const a of anchors) {
                        if (a.href && normalize(a.href).includes(textNorm)) return a;
                        try {
                            const hrefHash = new URL(a.href, location.href).hash;
                            if (hrefHash) {
                                const el = document.querySelector(hrefHash);
                                if (el && normalize(el.innerText).includes(textNorm)) return el;
                            }
                        } catch (e) { }
                    }

                    return null;
                }

                function stripOrigin(u) {
                    try {
                        if (!u) return '';
                        // hash-only?
                        if (u.startsWith('#')) return u.replace(/^#/, '');
                        const o = new URL(u, location.href);
                        return (o.pathname + (o.hash || '')).replace(/^\//, '');
                    } catch (e) { return u; }
                }

                function renderResults(results) {
                    resultsBox.innerHTML = '';
                    if (!results || !results.length) { resultsBox.style.display = 'none'; resultsBox.setAttribute('aria-hidden', 'true'); return; }

                    results.slice(0, 20).forEach((r, idx) => {
                        const wrap = document.createElement('div');
                        wrap.setAttribute('role', 'option');
                        wrap.dataset.index = idx;
                        wrap.style.padding = '8px';
                        wrap.style.borderRadius = '8px';
                        wrap.style.cursor = 'pointer';
                        wrap.style.marginBottom = '6px';
                        wrap.tabIndex = -1;

                        const title = document.createElement('div');
                        title.style.fontWeight = 700; title.style.fontSize = '14px';
                        title.textContent = r.title || r.url || 'resultado';

                        const url = document.createElement('div');
                        url.style.fontSize = '12px'; url.style.color = '#1a73e8';
                        url.textContent = r.url ? stripOrigin(r.url) : '';

                        const desc = document.createElement('div');
                        desc.style.fontSize = '12px'; desc.style.color = '#666'; desc.style.marginTop = '4px';
                        desc.textContent = r.description || '';

                        wrap.appendChild(title);
                        if (r.url) wrap.appendChild(url);
                        if (r.description) wrap.appendChild(desc);

                        wrap.addEventListener('click', () => onResultClick(r));
                        wrap.addEventListener('mouseover', () => highlightIndex(parseInt(wrap.dataset.index)));
                        resultsBox.appendChild(wrap);
                    });

                    resultsBox.style.display = 'block';
                    resultsBox.setAttribute('aria-hidden', 'false');
                    positionResultsBox();
                    highlightIndex(0);
                }

                function onResultClick(r) {
                    const foundEl = findElementForItem(r);
                    if (foundEl) {
                        resultsBox.style.display = 'none';
                        resultsBox.setAttribute('aria-hidden', 'true');
                        // rola até o elemento
                        foundEl.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        const old = foundEl.style.boxShadow;
                        foundEl.style.boxShadow = '0 0 0 6px rgba(255,213,79,0.45)';
                        setTimeout(() => { foundEl.style.boxShadow = old || ''; }, 900);
                        return;
                    }
                    if (r.url) {
                        try { location.href = r.url; } catch (e) { window.open(r.url, '_self'); }
                    }
                }

                function doSearch(q) {
                    q = (q || '').trim();
                    if (!q) return [];
                    let msResults = mini.search(q, { prefix: true, fuzzy: 0.2, combineWith: 'AND' }) || [];
                    msResults = msResults.map(r => ({ title: r.title || '', url: r.url || '', description: r.description || '', xmlId: r.xmlId || '' }));

                    const substringMatches = items.filter(it => {
                        const s = ((it.title || '') + ' ' + (it.description || '') + ' ' + (it.url || '')).toLowerCase();
                        return s.includes(q.toLowerCase());
                    }).slice(0, 10).map(it => ({ title: it.title, url: it.url, description: it.description, xmlId: it.xmlId }));

                    const combined = [];
                    const seenKeys = new Set();
                    msResults.concat(substringMatches).forEach(r => {
                        const key = (r.url || r.title || JSON.stringify(r));
                        if (!seenKeys.has(key)) { seenKeys.add(key); combined.push(r); }
                    });
                    return combined.slice(0, 20);
                }

                function debounce(fn, t = 140) { let timer; return (...a) => { clearTimeout(timer); timer = setTimeout(() => fn.apply(this, a), t); }; }

                let currentHighlight = -1;
                function highlightIndex(i) {
                    const options = Array.from(resultsBox.querySelectorAll('[role="option"]'));
                    if (!options.length) return;
                    currentHighlight = (i + options.length) % options.length;
                    options.forEach((opt, j) => opt.style.background = (j === currentHighlight) ? '#f3f6ff' : 'transparent');
                    options[currentHighlight]?.scrollIntoView({ block: 'nearest' });
                }
                function moveHighlight(delta) { const options = Array.from(resultsBox.querySelectorAll('[role="option"]')); if (!options.length) return; highlightIndex(currentHighlight + delta); }

                const onInput = debounce(() => {
                    const q = input.value.trim();
                    if (!q) { resultsBox.style.display = 'none'; resultsBox.setAttribute('aria-hidden', 'true'); return; }
                    const results = doSearch(q);
                    renderResults(results);
                }, 120);

                input.addEventListener('input', onInput);
                input.addEventListener('focus', onInput);

                input.addEventListener('keydown', (e) => {
                    const isOpen = resultsBox.style.display !== 'none';
                    if (e.key === 'ArrowDown') { e.preventDefault(); if (!isOpen) onInput(); else moveHighlight(1); }
                    else if (e.key === 'ArrowUp') { e.preventDefault(); if (isOpen) moveHighlight(-1); }
                    else if (e.key === 'Enter') {
                        if (isOpen && currentHighlight >= 0) {
                            const opt = resultsBox.querySelectorAll('[role="option"]')[currentHighlight];
                            opt?.click();
                            e.preventDefault();
                        }
                    } else if (e.key === 'Escape') { resultsBox.style.display = 'none'; resultsBox.setAttribute('aria-hidden', 'true'); }
                });

                document.addEventListener('click', (ev) => {
                    if (!resultsBox.contains(ev.target) && ev.target !== input) {
                        resultsBox.style.display = 'none';
                        resultsBox.setAttribute('aria-hidden', 'true');
                    }
                });

                // posição inicial
                positionResultsBox();

            })()).catch(err => console.error('Erro import MiniSearch:', err));
        });
    </script>

    <!-- estilo do dropdown -->
    <style>
        #search-results-box [role="option"]:hover {
            background: #f3f6ff;
        }

        #search-results-box::-webkit-scrollbar {
            width: 8px;
        }

        #search-results-box::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.12);
            border-radius: 6px;
        }
    </style>





</body>

</html>